body {
  margin: 0;

  color: rgb(255, 82, 3);
  height: 100vh;
  background: no-repeat;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1),
    rgba(248, 248, 248, 1) 20%,
    rgba(234, 234, 234, 1) 60%,
    rgb(120, 116, 116) 100%
  );
}

* {
  box-sizing: border-box;
}
