.border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;

}

.borderSpan {
  position: absolute;
  inset: 5px;
  z-index: 2;
  border-radius: 20px;
  background-color: #161620;
}

.border::after {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  animation: rotate 4s linear infinite;
  animation-delay: -2s;

  background-image: conic-gradient(transparent, transparent, transparent, #00fe22);
}

.border::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  animation: rotate 4s linear infinite;

  background-image: conic-gradient(transparent, transparent, transparent, #6930c3);

}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {

    transform: rotate(360deg);
  }

}

.border img {
  border-radius: 20px;
  padding: 5px;
  width: 290px;
  height: 390px;
}