.carousel {
  position: relative;
  width: 80%;
  max-width: 200px;
  margin: auto;
  overflow: hidden;
}

.carouselImages {
  border-radius: 10%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselImages img {
  border-radius: 10%;
  width: 100%;
  height: auto;
}
/* button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
} */

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
