.Page {
  display: grid;

  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    'h h'
    'n n'
    'c c';
  grid-template-rows: 120px 1fr;
  grid-template-columns: 120px 1fr;
  grid-gap: 5px;

}

.Header {
  display: flex;
  grid-area: h;
  justify-content: center;

}

.Header img {
  width: 900px;
  height: 120px;
}



.Content {

  margin: auto;
  grid-template-columns: 1fr;

  grid-area: c;

}

h1 {
  margin: 0 auto;
  width: 402px;
  text-align: center;
  filter: drop-shadow(3px 3px 10px rgb(215, 95, 25))
}

a {
  text-decoration: none;

}

a:visited {
  color: rgb(15, 14, 14)
}

.button {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: bold;

  color: rgb(68, 68, 68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  background: rgb(245, 245, 245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
  cursor: pointer;

}