.Page {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    'h h'
    'n n'
    'c c';
  grid-template-rows: 120px 1fr;
  grid-template-columns: 120px 1fr;
  grid-gap: 3px;

}

.Header {
  display: flex;
  grid-area: h;
  justify-content: center;

}

.Header img {
  width: 900px;
  height: 120px;
}

.NavBar {
  /* display: flex; */
  grid-area: n;
  /* justify-content: center; */
  /* align-content: center; */
}

.Content {

  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;

  grid-area: c;

}

a {
  text-decoration: none;

}

a:visited {
  color: rgb(15, 14, 14)
}